<div class="footer">
    <span onclick="logout()">Logout</span>
    <div class="flex-fill"></div>
    <span style="margin-left: auto;">&copy; 2024 - <a href="https://linktr.ee/brentspine" target="_blank">Brentspine</a></span>
</div>
<style>
    .flex-fill {
        flex: 1;
    }

    .footer {
        display: flex;
        color: #D0D2D6;
        cursor: pointer;
        font-size: 12px;
        justify-content: flex-start;
        width: 100%;
        padding: 30px 40px 10px 40px;
    }
    .footer a {
        color: #007bff;
        text-decoration: none;
    }
</style>
<script>
    function logout() {
        // Just clear cookie "Authorization" and redirect to 'app_home'
        eraseCookie("Authorization");
        window.location.href = "{{ path('app_home') }}";
    }
</script>