<script>
    // On ready
    const timer = document.getElementById("live-timer");

    function updateApi() {
        fetch("{{ path("app_ajax_timer_status") }}")
            .then(response => response.json())
            .then(data => {
                const timer = document.getElementById("live-timer");
                const oldPaused = localStorage.getItem('timer_paused');
                localStorage.setItem('timer_last_seconds', data.last_seconds);
                if ((oldPaused === "true") === data.paused && ((data.ending_at != null || data.ending_at > 0) && data.ending_at === parseInt(localStorage.getItem('timer_ending_at'))))
                    return;
                if(data.ending_at <= (Math.round(Date.now() / 1000))) {
                    timer.textContent = "Zeit abgelaufen!"
                    localStorage.setItem('timer_paused', "true");
                    localStorage.setItem('timer_paused_for', "0");
                    localStorage.setItem('timer_ending_at', "0");
                    return;
                }
                localStorage.setItem('timer_paused', data.paused ? "true" : "false");
                localStorage.setItem('timer_paused_for', data.paused_for ? data.paused_for : 0);
                localStorage.setItem('timer_ending_at', data.ending_at ? data.ending_at : 0);
                if(data.paused) {
                    timer.textContent = updateSeconds(data.ending_at - (data.current_time));
                    return;
                }
                timer.textContent = updateSeconds(data.ending_at - (Math.round(Date.now() / 1000)));
            }).catch(() => console.log("Error while fetching timer!"));
    }

    function update() {
        const timer = document.getElementById("live-timer");
        if(localStorage.getItem('timer_ending_at') <= (Math.round(Date.now() / 1000))) {
            timer.textContent = "Zeit abgelaufen!"
            localStorage.setItem('timer_paused', "true");
            localStorage.setItem('timer_paused_for', "0");
            localStorage.setItem('timer_ending_at', "0");
        }
        if(localStorage.getItem('timer_paused') === "true")
            return;
        timer.textContent = updateSeconds(parseInt(localStorage.getItem('timer_ending_at')) - Math.round(Date.now() / 1000));
    }

    function updateSeconds(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;
        return `${minutes < 10 ? "0" : ""}${minutes}:${remainingSeconds < 10 ? "0" : ""}${remainingSeconds}`;
    }
    setInterval(update, 200);
    setInterval(updateApi, 900);
</script>
<span id="live-timer">
    ??:??
</span>